#calculator-rows,
#calculator{
    display:flex;
    flex-direction: column;
}

#calculator-rows{
    height: 400px;
    justify-content: space-evenly;
}

#calculator{
    background-color: lightcoral;
    width: 350px;
    padding:50px;
    
}

.button{
    background-color: #add7e6;
    font-size: 30px;
    width: 75px;
    height: 75px;
}

#calculator-screen{
    background-color: bisque;
    display:flex;
    align-items:end;
    justify-content: end;
    height: 90px;
    font-size: 50px;
    padding:0px 5px;
}


#first-row,
#second-row,
#third-row,
#fourth-row,
#fifth-row{
    display:flex;
    justify-content: space-between;
}

#equals{
    width: 410px;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
}